.App {
	font-family: sans-serif;
	text-align: center;
}
.home {
	color: green;
	font-weight: 700;
	font-size: 1.1rem;
	margin: 10px;
	margin-top: 15px;
}
.home:hover {
	color: gold;
}
.login {
	color: green;
	font-weight: 700;
	margin: 10px;
}
.login:hover {
	color: gold;
}

.signup {
	color: green;
	font-weight: 700;
	margin: 10px;
}
.signup:hover {
	color: gold;
}

.books {
	color: green;
	font-weight: 700;
	margin: auto;
}
.books:hover {
	color: gold;
}
